<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#detail, #whole{
		margin: 20px;
	}
</style>
<script type="text/javascript" src = "../js/jquery-3.6.0.min.js"></script>
 <script type="text/javascript">
	
 	function fn_setCols(e_id,ko_name,en_name,mobile,address){
 	 	$('#e_id').val(e_id)
		 $('#ko_name').val(ko_name)
		 $('#en_name').val(en_name)
		 $('#mobile').val(mobile)
		 $('#address').val(address)		
	}
 	
 	function fn_insert(){
 		 var e_id = $('#e_id').val()
 		 var ko_name = $('#ko_name').val()
 		 var en_name = $('#en_name').val()
 		 var mobile = $('#mobile').val()
 		 var address = $('#address').val()
 	     
 	     var postdata = {
 	         'id':e_id, 'ko_name':ko_name, 'en_name':en_name, 'mobile':mobile, 'address':address
 	     }
 	     $.ajax({
 	         type: 'POST',
 	         url: 'insert.ajax',
 	         data: JSON.stringify(postdata),
 	         dataType : 'JSON',
 	         contentType: "application/json",
 	         success: function(data){
 	        	 if(data.result == "success"){
 	        		 alert(data.result);
 	        		 location.reload();
 	        	 }else{
 	        		 alert(data.result);
 	        	 }
 	         },
 	         error: function(request, status, error){
 	             alert('ajax 통신 실패')
 	             alert(error);
 	         }
 	     })
 	}
 	
 	function fn_update(){
 		 var e_id = $('#e_id').val()
 		 var ko_name = $('#ko_name').val()
 		 var en_name = $('#en_name').val()
 		 var mobile = $('#mobile').val()
 		 var address = $('#address').val()
 	     
 	     var postdata = {
 	         'id':e_id, 'ko_name':ko_name, 'en_name':en_name, 'mobile':mobile, 'address':address
 	     }
		
		 $.ajax({
 	         type: 'POST',
 	         url: 'update.ajax',
 	         data: JSON.stringify(postdata),
 	         dataType : 'JSON',
 	         contentType: "application/json",
 	         success: function(data){
 	        	 if(data.result == "success"){
 	        		 alert(data.result);
 	        		 location.reload();
 	        	 }else{
 	        		 alert(data.result);
 	        	 }
 	         },
 	         error: function(request, status, error){
 	             alert('ajax 통신 실패')
 	             alert(error);
 	         }
 	     })
 	}
 
	function fn_delete(){
		
		flag = confirm("데이터를 삭제하시겠습니까??")
		if(!flag){
			return;
		}
		
		var id = $('#e_id').val()
		var postdata = {
 	         'id':id
 	     }
		
		 $.ajax({
 	         type: 'POST',
 	         url: 'delete.ajax',
 	         data: JSON.stringify(postdata),
 	         dataType : 'JSON',
 	         contentType: "application/json",
 	         success: function(data){
 	        	 if(data.result == "success"){
 	        		 alert(data.result);
 	        		 location.reload();
 	        	 }else{
 	        		 alert(data.result);
 	        	 }
 	         },
 	         error: function(request, status, error){
 	             alert('ajax 통신 실패')
 	             alert(error);
 	         }
 	     })
 	}
 	
 </script>
</head>
<body>
<div style = "width: 20%; float: left;">
	<table border =1 id = "whole">
		<tr>
			<th>아이디</th>
			<th>한국이름</th>
			<th>영어이름</th>
			<th>전화번호</th>
			<th>주소</th>
		</tr>
		{%for i in list%}
			<tr>
				<td><a href = "javascript:fn_setCols('{{i.id}}','{{i.ko_name}}','{{i.en_name}}','{{i.mobile}}','{{i.address}}')">{{i.id}}</a></td>
				<td>{{i.ko_name}}</td>
				<td>{{i.en_name}}</td>
				<td>{{i.mobile}}</td>
				<td>{{i.address}}</td>
			</tr>
		{%endfor%}
	</table> 
</div>
<div style = "width: 75%; float: right;">
	<table border = "1" id = "detail">
		<tr>
			<th>아이디</th>
			<td>
				<input type = "text" id = "e_id">
			</td>
		</tr>
		
		<tr>
			<th>한국이름</th>
			<td>
				<input type = "text" id = "ko_name">
			</td>
		</tr>
		
		<tr>
			<th>영어이름</th>
			<td>
				<input type = "text" id = "en_name">
			</td>
		</tr>
		
		
		<tr>
			<th>전화번호</th>
			<td>
				<input type = "text" id = "mobile">
			</td>
		</tr>
		
		
		<tr>
			<th>주소</th>
			<td>
				<input type = "text" id = "address">
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<input type = "button" onclick = "fn_insert()" value= "추가" id = "insert">
				<input type = "button" onclick = "fn_update()" value= "수정" id = "update">
				<input type = "button" onclick = "fn_delete()" value= "삭제" id = "delete">
			</td>
		</tr>
	</table>
</div>
</body>
</html>


