<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#par{
		display: flex;
		flex-direction: row;
	}
	
	.pad{
		width: 20%;
	}
	#content{
		width : 60%;
		text-align: center;
		margin-top: 50px;
	}
	img{
		width: 300px;
		height: 300px;
		margin: 30px;
	}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
 <script type="text/javascript">
 $(function(){
	 
	 function start(){
		 $.ajax({
		     type: 'POST',
		     url: 'ajax',
		     dataType : 'JSON',
		     contentType: "application/json",
		     success: function(data){
		       console.log(data)
		       img = "<img src = '/static/img/" + data.img + "'>"
		       $('#image').empty()
		       $('#key').empty()
		       $('#image').append(img)
		       $('#key').val(data.key)
		       console.log(data.key)
		     },
		     error: function(request, status, error){
		         alert('ajax 통신 실패')
		         alert(error);
		     }
	 	})
	 }
	 
	 start();
	 
 	$('#check').on('click',function(){
 		key = $('#key').val()
 		input = $('#inputVal').val()
 		
 		var postdata = {
 	         'key':key , 'input' : input
 	     }
		
		 $.ajax({
 	         type: 'POST',
 	         url: 'check.ajax',
 	         data: JSON.stringify(postdata),
 	         dataType : 'JSON',
 	         contentType: "application/json",
 	         success: function(data){
 	        	 if(data.result == "성공"){
 	        		alert("성공")
 	        		location.reload()
 	        	 }else{
 	        		 alert("잘못 입력하셨습니다")
 	        		 location.reload()
 	        	 }
 	         },
 	         error: function(request, status, error){
 	             alert('ajax 통신 실패')
 	             alert(error);
 	         }
 	     })
 		
 	})
 
 	$('#refresh').on('click',function(){
		start(); 	
 	})
 
 })
 </script>
</head>
<body>

<div id = "par">
	<div class = pad></div>
	<div id = content>
		<h1>네이버 captcha 파이썬</h1>
		<div id = "image">
		</div>
		<input type = "hidden" id = "key">
		<input type = "text" id = "inputVal">
		<input type = "button" id = "check" value= "확인" class = "btn btn-default">
		<input type = "button" id = "refresh" value= "새로고침" class = "btn btn-default">
	</div>
	<div class = pad></div>
</div>

</body>
</html>













